.search-bar{
  font-family: Arial, Helvetica, sans-serif;
      font-size: 14px;
      height: 38.4px;
      border-color: rgb(211,211,211);
      border-width: 0.8px;
      padding: 0px 6px 0px 16px;
      border-style: solid;
      border-radius: 20px 0px 0px 20px;
      align-items: center;
      box-shadow:inset 1px 
       rgb(0,0,0,0.5);
      margin-right: -1px;
      display: flex;
      flex-direction: row;
      flex: 1;
      max-width: 500px;
      box-shadow: inset 1px 2px 5px
      rgb(0,0,0,0.05);
      width: 0;
    }
.search-bar:focus{
  outline: none;
  box-shadow: inset 1px 2px 5px
  rgb(0,0,0,0.15);
}

.header{
  height: 56px;
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 30px;
  padding: 0px 10px 0px 10px;
  position: fixed; 
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  z-index: 100;

  border-width: 0px 0px 1px 0px;
  border-bottom-color: rgb(211,211,211);
  border-style: solid;
  background-color: white;
}
.left-section{
  align-items: center;
  margin-right: 30px;
  display: flex;
  flex: 1;
  max-width: 169px;
}

.hamburger-menu{
  height: 24px;
  padding: 8px;
}
.hamburger-menu:hover{
  border-radius: 40px;
  background-color: rgb(248,248,248);
}
.hamburger-menu:active{
  background-color: rgb(235,235,235);
  opacity: 0.8;
  transition: 0.5s;
}
.youtube-logo{
  height: 20px;
  width: 93px;
  padding: 18px 14px 18px 16px;
}
.middle-section{
  width: 640px;
  height: 40px;
  margin-left: 60px;
  margin-right: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 100px;
}
.search-button{
 width: 64px;
 height: 40px;
 border-color: rgb(211,211,211);
 background-color: rgb(248,248,248);
 border-radius: 0px 20px 20px 0px;
 padding: 8px 20px 8px 20px;
 border-width: 1px;
 border-style: solid;
 align-items: center;

 position: relative;
}

.search-button:hover{
  background-color: rgb(235,235,235);
  opacity: 1;
  cursor: pointer;
}
.search-button:active{
  background-color: rgb(211,211,211);
  transition: background-color 0.15s;
}
.search-button .tooltip{
  position: absolute;
  background-color: rgb(15,15,15);
  color: white;
  padding: 4px 8px 4px 8px;
  border-radius: 2px;
  font-size: 10px;
  bottom: -28px;
  right: 8px;
  transition: opacity 0.15s;
  opacity: 0;
}

.search-button:hover .tooltip{
  opacity: 0.75;
}


.voice-search-button{
  height: 40px;
  width: 40px;
  border-radius: 20px;
  border-width: 0.8px;
  border: none;
  padding-top: 4px;
  background-color: rgb(248,248,248);
  border-color: rgb(211,211,211);
  margin-right: 30px;
  margin-left: 10px;
  position: relative;
}
.voice-search-button:hover{
   background-color: rgb(235,235,235);
  cursor: pointer;
}
.voice-search-button:active{
  background-color: rgb(211,211,211);
  transition: background-color 0.15s;
}
.voice-search-button .tooltip{

  position: absolute;
  white-space: nowrap;
  background-color: rgb(15,15,15);
  color: white;
  padding: 4px;
  border-radius: 2px;
  font-size: 10px;
  bottom: -28px;
  right: -12px;
  transition: opacity 0.15s;
  opacity: 0;
}

.voice-search-button:hover .tooltip{
  opacity: 0.75;
}


.voice-search-icon{
  height: 24px;
  margin-top: 4px;
}

.right-section{
  width: 213px;
  align-items: center;
  display: flex;
  flex: 1;
  justify-content: space-evenly;
  padding: 0px;
  margin: 0px;
}

.upload-icon{
  height: 36px;
}
.create{
  position: relative;
  margin: 0px 12px;
}
.create:hover{
  background-color: rgb(235,235,235);
  cursor: pointer;
  border-radius: 4px;
}
.create:active{
  background-color: rgb(211,211,211);
  transition: background-color 0.15s;
}

.create .tooltip{
   position: absolute;
  white-space: nowrap;
  background-color: rgb(15,15,15);
  color: white;
  padding: 4px;
  border-radius: 2px;
  font-size: 10px;
  bottom: -28px;
  right: 1px;
  transition: opacity 0.15s;
  opacity: 0;
}
.create:hover .tooltip{
  opacity: 0.8;
}

.notification-icon{
  height: 24px;
}
.notification-popup{
  height: 24px;
  position: relative;
}
.notification-popup-no{
  position: absolute;
  top: -5px;
  right: -4px;
  font-family: arial;
  font-size: 12px;
  padding: 2px 4px 2px 4px;
  background-color: rgb(200,0,0);
  color: white;
  border-radius: 20px;
}
.notification{
  position: relative;
  margin: 0px 12px;
}
.notification-icon:hover{
  background-color: rgb(235,235,235);
  cursor: pointer;
  border-radius: 2px;
}
.notfication-icon:active{
  background-color: rgb(211,211,211);
  transition: background-color 0.15s;
}
.notification .tooltip{
  position: absolute;
  white-space: nowrap;
  background-color: rgb(15,15,15);
  color: white;
  padding: 4px;
  border-radius: 2px;
  font-size: 10px;
  bottom: -28px;
  right: -16px;
  font-family: arial;
  transition: opacity 0.15s;
  opacity: 0;

}
.notification:hover .tooltip{
  opacity: 0.8;
}
.profile-icon{
  height: 36px;
  border-radius: 18px;
}
.profile{
  position: relative;
  margin: 0px 12px;
}
.profile-icon:hover{
  background-color: rgb(235,235,235);
  cursor: pointer;
}
.profile-icon:active{
  opacity: 0.85;
}
.profile .tooltip{
   position: absolute;
  white-space: nowrap;
  background-color: rgb(15,15,15);
  color: white;
  padding: 4px;
  border-radius: 2px;
  font-size: 10px;
  bottom: -28px;
  right: -7px;
  font-family: arial;
  transition: opacity 0.15s;
  opacity: 0;
}
.profile:hover .tooltip{
  opacity: 0.75;
}
